{% extends 'base_menu.html' %}
{% load static widget_tweaks %}

{% block title %}Detail user{% endblock %}

{% block header %}Detail user{% endblock %}

{% block main_content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-4">
                        {% if object.profile.photo %}
                            <img src="{{ object.profile.photo.url }}"
                                 class="img-responsive img-thumbnail center-block">
                        {% else %}
                            <img src="{% static 'images/person.png' %}"
                                 class="img-responsive img-thumbnail center-block">
                        {% endif %}
                    </div>

                    <div class="col-md-4">

                        <div class="form-group">
                            <label class="col-md-5 control-label">Name</label>
                            <div class="col-md-7">
                                <p class="form-control-static">
                                    {{ object.get_full_name }}
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-5 control-label">Job</label>
                            <div class="col-md-7">
                                <p class="form-control-static">
                                    {{ object.profile.job }}
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-5 control-label">Hire date</label>
                            <div class="col-md-7">
                                <p class="form-control-static">
                                    {{ object.profile.hire_date }}
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-5 control-label">E-mail</label>
                            <div class="col-md-7">
                                <p class="form-control-static">
                                    {{ object.email }}
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-5 control-label">Landline phone</label>
                            <div class="col-md-7">
                                <p class="form-control-static">
                                    {{ object.profile.landline_phone|default:'–' }}
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-5 control-label">Cell phone</label>
                            <div class="col-md-7">
                                <p class="form-control-static">
                                    {{ object.profile.cell_phone|default:'–' }}
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4">

                        <div class="form-group">
                            <label class="col-md-5 control-label">Department</label>
                            <div class="col-md-7">
                                <p class="form-control-static">
                                    {{ object.profile.department }}
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-5 control-label">Education</label>
                            <div class="col-md-7">
                                <p class="form-control-static">
                                    {{ object.profile.education_label }}
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-5 control-label">Languages</label>
                            <div class="col-md-7">
                                <p class="form-control-static">
                                    {{ object.profile.languages.all|join:", " }}
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-5 control-label">Driving licences</label>
                            <div class="col-md-7">
                                <p class="form-control-static">
                                    {{ object.profile.driving_licences.all|join:", "|default:'–' }}
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if object.profile.certificates %}
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Certificates</label>
                                <div class="col-md-10">
                                    <p class="form-control-static">
                                        {{ object.profile.certificates|linebreaksbr }}
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if object.profile.other_skills %}
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Other skills</label>
                                <div class="col-md-10">
                                    <p class="form-control-static">
                                        {{ object.profile.other_skills|linebreaksbr }}
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if request.user.is_superuser or request.user.id == object.id%}
        <div class="row top-25">
            <div class="col-sm-9">
                <div class="form-inline">
                    <div class="form-group">
                        {{ search_form.submited_from|add_class:'form-control search-input datepicker'|attr:'placeholder:Submited from' }}
                    </div>
                    <div class="form-group">
                        {{ search_form.submited_to|add_class:'form-control search-input datepicker'|attr:'placeholder:Submited to' }}
                    </div>
                </div>
            </div>
            <div class="col-sm-3 text-right">
                {% if request.user.is_superuser and request.user.id != object.id %}
                    <a class="btn btn-success" href="{% url 'evaluations:evaluation_create' object.id %}">Create</a>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table width="100%" class="table table-striped table-bordered table-hover" id="table">
                    <thead>
                    <tr>
                        <th>Evaluation summary</th>
                        <th>Submited by</th>
                        <th>Submited</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/user_detail_view.js' %}"></script>
    <script>
        var url = '{% url 'evaluations:evaluation_list_datatable_user' object.id %}';
        $(document).ready(function () {
            UserDetailView.setup(url);
        });
    </script>
{% endblock %}